/* Global styles */

body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

.header { 
    background: #333; 
    color: white; 
    padding: 1rem; 
    display: flex; 
    justify-content: space-between; 
}

.header nav a { 
    color: white; 
    margin: 0 1rem; 
    text-decoration: none; 
}

main { 
    padding: 1rem; 
}


/* Product list */

.product-list { 
    max-width: 1200px; 
    margin: 0 auto; 
}

.products {
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(250px, 1))
}